<h1>Miniature: <%= @miniature.name %></h1>

<div class="pull-right">
  <%= image_tag miniature_image(@miniature) %>
</div>

<div class="pull-left">
  <dl class="dl-horizontal">
    <dt>Release</dt>
    <dd><%= @miniature.release.name %></dd>

    <dt>Number</dt>
    <dd><%= @miniature.number %></dd>

    <dt>Type</dt>
    <dd><%= @miniature.type.name if @miniature.type %></dd>

    <dt>Subtype</dt>
    <dd><%= @miniature.subtype.name if @miniature.subtype %></dd>
  </dl>
</div>

