<h1>Miniature: <%= @miniature.name %></h1>

<dl class="dl-horizontal">
  <dt>Release</dt>
  <dd><%= @miniature.release.name %></dd>

  <dt>Number</dt>
  <dd><%= @miniature.number %></dd>

  <dt>Type</dt>
  <dd><%= @miniature.type.name %></dd>

  <dt>Subtype</dt>
  <dd><%= @miniature.subtype.name %></dd>
</dl>

