<h1>Miniature: <%= @miniature.name %></h1>

<div class="pull-right">
  <%= image_tag miniature_image(@miniature) %>
</div>

<div class="pull-left">
  <dl class="dl-horizontal">
    <dt>Release</dt>
    <dd><%= @miniature.release_name %></dd>

    <dt>Number</dt>
    <dd><%= @miniature.number %></dd>

    <dt>Type</dt>
    <dd><%= @miniature.type_name %></dd>

    <dt>Subtype</dt>
    <dd><%= @miniature.subtype_name %></dd>

    <dt>Tags</dt>
    <% @miniature.tags.each do |tag| %>
      <dd><%= link_to tag.name, tag_path(tag) %></dd>
    <% end %>
  </dl>

  <% if current_user %>
    <%= form_for @miniature do |f| %>
      <%= f.label :tag_list, "Tags" %>
      <%= f.text_field :tag_list %>
      <%= f.submit "Add Tags" %>
    <% end %>
  <% end %>
</div>

